
@{
    ViewBag.Title = "CheckoutDetails";
    Layout = "~/Views/Shared/_SubPageLayout.cshtml";
}


<div class="sub_page">
    <section class="contact_section layout_padding">
        <div class="container">
            <button class="dropdown-button">Add Member Details</button>
            <br />
            @using (Html.BeginForm("Membership", "Home", FormMethod.Post, new { id = "MemberForm" }))
            {
                <div id="memberdetails" style="padding:20px">
                    @{ Html.RenderPartial("_Member"); }
                </div>
                <button class="dropdown-button" onclick="submitMemberForm()">>Add Shipping Details</button>
            }
            <br />
            <div id="showshippingdetails" style="padding:30px"></div>
            @using (Html.BeginForm("CheckoutDetails", "Home", FormMethod.Post, new { id = "checkoutForm" }))
            {
                <div id="shippingdetails" style="padding:20px;display:none">
                    @{ Html.RenderPartial("_ShippingDetails"); }
                </div>
                <button class="dropdown-button" onclick="submitForm()">Confirm Details</button>
            }
            <br />
            <div id="conformdetails" style="padding:30px"></div>
        </div>
    </section>
</div>
@section scripts{

    @*<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>*@
<script>
        function submitMemberForm() {
            // Serialize the form data
            var formData = $('#MemberForm').serialize();

            // Send the form data via AJAX
            $.ajax({
                url: $('#MemberForm').attr('action'), // Form action attribute
                type: $('#MemberForm').attr('method'), // Form method attribute
                data: formData,
                success: function (response) {
                    // Handle the success response
                    var memberId = response.MemberId;
                    console.log('Form submitted successfully!');
                    $('#memberdetails').hide();
                    loadShippingDetails(memberId);
                    
                    // You can perform additional actions here, such as showing a success message or redirecting the user
                },
                error: function (xhr, status, error) {
                    // Handle the error response
                    console.error('Error:', error);
                    // You can display an error message or perform other error handling actions here
                }
            });
        }
        function submitForm() {
            $('#checkoutForm').submit(function (event) {
                // Prevent the default form submission
                event.preventDefault();

                // Serialize the form data
                var formData = $(this).serialize();

                // Send the form data via AJAX
                $.ajax({
                    url: $(this).attr('action'), // Form action attribute
                    type: $(this).attr('method'), // Form method attribute
                    data: formData,
                    success: function (response) {
                        // Retrieve MemberId and ShippingId from the response
                        var memberId = response.MemberId;
                        var shippingId = response.ShippingId;
                        loadConfirmDetails(memberId, shippingId);
                        loadShowShippingDetails(memberId, shippingId);
                    },
                    error: function (xhr, status, error) {
                        // Handle the error response
                        console.error('Error:', error);
                        // You can display an error message or perform other error handling actions here
                    }
                });
            });
    }
        function loadShippingDetails(memberId) {
        $.get('@Url.Action("EditCheckoutDetails", "Home")', { MemberId: memberId }, function (partialView) {
            console.log("Partial View:", partialView);
            $('#shippingdetails').html(partialView);
            $('#shippingdetails').show();
        });
        }
        function loadConfirmDetails(memberId, shippingId) {
        $.get('@Url.Action("ConformDetails", "Home")', { MemberId: memberId, ShippingId: shippingId }, function (partialView) {
            console.log("Partial View:", partialView);
            $('#conformdetails').html(partialView);
            $('#conformdetails').show();
        });
        }

    function loadShowShippingDetails(memberId, shippingId) {
        $.get('@Url.Action("ShowShippingDetails", "Home")', { MemberId: memberId, ShippingId: shippingId }, function (partialView) {
            console.log("Partial View:", partialView);
            $('#showshippingdetails').html(partialView);
            $('#shippingdetails').hide();
            $('#showshippingdetails').show();
        });
    }


        function handlePaymentTypeChange() {
            if ($('#cashOnDeliveryRadio').prop('checked')) {
                $('#cashOnDeliveryDetails').show();
                $('#debitCardDetails').hide();
            } else if ($('#debitCardRadio').prop('checked')) {
                $('#cashOnDeliveryDetails').hide();
                $('#debitCardDetails').show();
            }
        }
    function sendDataToServer() {
        var cartItems = [];

        $(".productId").each(function () {
            var productId = $(this).val();
            quantity = $(this).closest("tr").find("#cartProductQuantity").text();
            total = $(this).closest("tr").find("#cartProductTotal").text();

            // Create a cart item object
            var cartItem = {
                ProductId: productId,
                MemberId: $("#MemberId").val(),
                CartProductQuantity: quantity,
                CartProductTotalPrice: total,
                ShippingId: $("#ShippingDetailId").val()
            };

            // Push the cart item to the array
            cartItems.push(cartItem);
        });


        // Prepare the data to be sent
        var data = {
            cartItems: cartItems
        };

        // Send the data to the server using AJAX
        $.ajax({
            type: "POST",
            url: "/Home/SaveCartItems", // Replace with your actual controller and action
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                // Handle success
                console.log("Data sent successfully");
                $(".saveCart").prop("disabled", true);
            },
            error: function (error) {
                // Handle error
                console.log("Error sending data: " + error);
            }
        });
    }

    function editShippingdetails() {
            // Make an AJAX call to the CheckoutDetails action
            $.ajax({
                url: '@Url.Action("EditCheckoutDetails", "Home")',
                type: 'GET',
                success: function (partialView) {
                    // Hide the showshippingdetails div
                    $('#showshippingdetails').hide();
                    // Show the shippingdetails div
                    $('#shippingdetails').html(partialView).show();
                },
                error: function (xhr, status, error) {
                    // Handle errors if needed
                    console.error('Error:', error);
                }
            });
        }
        // Initial check on page load
        $(document).ready(function () {
            handlePaymentTypeChange();

        });
</script>

}