
@{
    ViewBag.Title = "CheckoutDetails";
    Layout = "~/Views/Shared/_SubPageLayout.cshtml";
}


<div class="sub_page">
    <section class="contact_section layout_padding">
        <div class="container">
            <button class="dropdown-button shippingbtn" onclick="toggleShippingDetails()">Add Shipping Details</button>
            <br />
            <div id="showshippingdetails" style="padding:30px"></div>
            @using (Html.BeginForm("CheckoutDetails", "Home", FormMethod.Post, new { id = "checkoutForm" }))
            {
                <div id="shippingdetails" style="padding:20px">
                    @{ Html.RenderPartial("_ShippingDetails"); }
                </div>
                <button class="dropdown-button confirmbtn" onclick="submitForm()">Confirm Details</button>
            }
            <br />
            <div id="conformdetails" style="padding:30px"></div>
        </div>
    </section>
</div>
@section scripts{

    @*<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>*@
<script>
        function submitForm() {
            $('#checkoutForm').submit(function (event) {
                // Prevent the default form submission
                event.preventDefault();

                // Serialize the form data
                var formData = $(this).serialize();

                // Send the form data via AJAX
                $.ajax({
                    url: $(this).attr('action'), // Form action attribute
                    type: $(this).attr('method'), // Form method attribute
                    data: formData,
                    success: function (response) {
                        // Retrieve MemberId and ShippingId from the response
                        var memberId = response.MemberId;
                        var shippingId = response.ShippingId;
                        loadConfirmDetails(memberId, shippingId);
                        loadShowShippingDetails(memberId, shippingId);
                        toggleshowshippingdetails();
                    },
                    error: function (xhr, status, error) {
                        // Handle the error response
                        console.error('Error:', error);
                        // You can display an error message or perform other error handling actions here
                    }
                });
            });
    }

        function loadConfirmDetails(memberId, shippingId) {
        $.get('@Url.Action("ConformDetails", "Home")', { MemberId: memberId, ShippingId: shippingId }, function (partialView) {
            console.log("Partial View:", partialView);
            $('#conformdetails').html(partialView);
            $('#conformdetails').show();
        });
        }

    function loadShowShippingDetails(memberId, shippingId) {
        $.get('@Url.Action("ShowShippingDetails", "Home")', { MemberId: memberId, ShippingId: shippingId }, function (partialView) {
            console.log("Partial View:", partialView);
            $('#showshippingdetails').html(partialView);
            $('#shippingdetails').hide();
            $('#showshippingdetails').show();
        });
    }


        function handlePaymentTypeChange() {
            if ($('#cashOnDeliveryRadio').prop('checked')) {
                $('#cashOnDeliveryDetails').show();
                $('#debitCardDetails').hide();
            } else if ($('#debitCardRadio').prop('checked')) {
                $('#cashOnDeliveryDetails').hide();
                $('#debitCardDetails').show();
            }
    }

   function sendDataToServer() {
    var cartItems = [];

    // Loop through each row in the table body
    $('.cartData').each(function () {
        var productId = $(this).find('.productId').val();
        var quantity = parseInt($(this).find('.quantity').text().trim());
        var total = parseInt($(this).find('.total').text().trim());

        console.log('productId:', productId);
        console.log('quantity:', quantity);
        console.log('total:', total);

        // Check if the data is valid
        if (!isNaN(productId) && !isNaN(quantity) && !isNaN(total)) {
            cartItems.push({
                ProductId: productId,
                CartProductQuantity: quantity,
                CartProductTotalPrice: total,
                MemberId: $("#MemberId").val(),
                ShippingId: $("#ShippingDetailId").val()
            });
        }
    });

    console.log('cart Items:', cartItems);

    // Send data to the controller using AJAX
    $.ajax({
        url: '@Url.Action("SaveCartItems", "Home")',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ cartItems: cartItems }),
        success: function (response) {
            // Handle success response
            console.log('Data sent successfully');
        },
        error: function (xhr, status, error) {
            // Handle error response
            console.error('Error:', error);
        }
    });
}


    function editShippingdetails() {
            // Make an AJAX call to the CheckoutDetails action
            $.ajax({
                url: '@Url.Action("EditCheckoutDetails", "Home")',
                type: 'GET',
                success: function (partialView) {
                    // Hide the showshippingdetails div
                    $('#showshippingdetails').hide();
                    // Show the shippingdetails div
                    $('#shippingdetails').html(partialView).show();
                },
                error: function (xhr, status, error) {
                    // Handle errors if needed
                    console.error('Error:', error);
                }
            });
    }

    function toggleShippingDetails() {
        var shippingDetailsDiv = document.getElementById("shippingdetails");
        var showShippingDetailsDiv = document.getElementById("showshippingdetails");
        if (shippingDetailsDiv.style.display === "none") {
            shippingDetailsDiv.style.display = "block";
            showShippingDetailsDiv.style.display = "none";
            $("#shippingdetails").slideToggle(100); // Toggle shipping details with animation
            $("#shippingdetails").toggle();
        } else {
            shippingDetailsDiv.style.display = "none";
            showShippingDetailsDiv.style.display = "block";
            $("#showshippingdetails").slideToggle(1000); // Toggle shipping details with animation
            $("#showshippingdetails").toggle();
        }
    }

    function toggleConfirmDetails() {
        var confirmDetailsDiv = document.getElementById("conformdetails");
        if (confirmDetailsDiv.style.display === "none") {
            confirmDetailsDiv.style.display = "block";
            confirmDetailsDiv.classList.add("animate-show");
        } else {
            confirmDetailsDiv.classList.remove("animate-show");
            setTimeout(function () {
                confirmDetailsDiv.style.display = "none";
            }, 1000); // 1000 milliseconds = 1 second
        }
    }
    function toggleshippingdetails() {
        $(".shippingbtn").click(function () {
            $("#shippingdetails").slideToggle(1000); // Toggle shipping details with animation
            $("#shippingdetails").toggle(); // Toggle visibility of the placeholder div
        });
    }
    function toggleshowshippingdetails() {
        $(".shippingbtn").click(function () {
            $("#showshippingdetails").slideToggle(1000); // Toggle shipping details with animation
            $("#showshippingdetails").toggle(); // Toggle visibility of the placeholder div
        });
    }
        // Initial check on page load
        $(document).ready(function () {
            handlePaymentTypeChange();
            //toggleshippingdetails();

            //$(".confirmbtn").click(function () {
            //    $("#conformdetails").slideToggle(1000); // Toggle confirm details with animation
            //});
        });
</script>

}