
@{
    ViewBag.Title = "LoginMembership";
    Layout = "~/Views/Shared/_SubPageLayout.cshtml";
}

<div class="sub_page">
    <!-- contact section -->

    <section class="contact_section layout_padding">
        <div class="container ">
            <div class="heading_container">
                <h2 class="">
                    Login Membership Account
                </h2>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @using (Html.BeginForm("LoginMembership", "Home", FormMethod.Post))
                    {
                        <div>
                            @Html.TextBox("email",null, new { placeholder = "Email" })
                        </div>
                        <div>
                            @Html.Password("password",null, new { placeholder = "Password" })
                        </div>
                        <div>
                            <button type="submit" name="buttonType" value="checkout">
                                Checkout Details
                            </button> <span> | </span>
                            <button type="submit" name="buttonType" value="orders">
                                View Previous Orders
                            </button><br /><br />
                                                 @*<div>
                                                     <a href="@Url.Action("Membership", "Home")" style="padding-top:100%">
                                                         No Account Add Membership
                                                     </a>
                                                 </div>*@
                        </div>
                    }
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->
</div>
